.normal { background-color: #a6a877 }
.grass { background-color: #77c850 }
.fire { background-color: #ee7f30 }
.water { background-color: #678fee }
.electric { background-color: #f7cf2e }
.ice { background-color: #98d5d7 }
.ground { background-color: #dfbf69 }
.flying { background-color: #a98ff0 }
.poison { background-color: #a040a0 }
.fighting { background-color: #bf3029 }
.psychic { background-color: #f65687 }
.dark { background-color: #725847 }
.rock { background-color: #b8a137 }
.bug { background-color: #a8b720 }
.ghost { background-color: #6e5896 }
.steel { background-color: #b9b7cf }
.dragon { background-color: #6f38f6 }
.fairy { background-color: #f9aec6 }
* {
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;    
}
body {
    background-color: #DEE3EC;
}
section {
    width: 400px;
    margin: 40px auto;
    background-color: #fff;
    border-radius: 20px;
    overflow: hidden;
}
.poke-types span {
    padding: 2px 10px;
    margin-bottom: 1px;
    border-radius: 10px;
    font-size: 9px;
    margin: 0.3rem 0;
    color: rgba(255, 255, 255, 0.8);
    font-weight: bold;
    text-transform: capitalize;
    text-align: center;
    filter: brightness(1.1);
}
@media (max-width: 440px) {
    .sectionIndex {
        width: 100%!important;
        margin: 0 auto!important;
        background-color: #fff!important;
        overflow: hidden!important;
        border-radius: 0px!important;
    }
    .sectionPokemon {
        width: 100%;
        margin: 0;
        border-radius: 0px;
    }
}