header {
    display: flex;
    justify-content: space-between;
}
header i {
    margin: 20px;
    color: white;
    font-size: 25px;
    justify-content: space-between;
}
h1 {
    font-size: 2rem;
}
.col {
    display: flex;
    justify-content: space-between;
}
.pokemon-info {
    position: relative;
}
.top-side {
    color: white;
    margin: 0 20px 250px;
    height: 100%;
    width: 100%;
}
.top-side .pokemon-name {
    font-size: 2rem;    
    margin: 1rem 0;
    text-transform: capitalize;
}
.poke-types span {
    font-size: 16px!important;
    margin: 0.5rem;
    padding: 3px 12px;
}
.right-side {
    display: flex;
    align-items: center;
}
.right-side .number {
    font-size: 1.2rem;
    font-weight: bold;
}
.poke-img {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 1;
}
.pokeball-img {
    position: absolute;
    filter: grayscale(100%) brightness(1000%);
    top: 80px;
    right: -80px;
    opacity: 0.5;
    height: 300px;
}
.bot-side {
    background-color: #fff;
    border-radius: 20px 20px 0 0;
}
.bot-side .nav-bar {
    padding-top: 2rem;
    display: flex;
    justify-content: space-around;
    font-size: 1.2rem;
    font-weight: 400;
    padding-bottom: 1rem;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    margin: 0 20px 20px;
}
table {
    margin: 0 1rem;
}
td {
    padding: .5rem 1rem; /* Espaçamento interno das células */
    font-weight: 500;
}
.first-table {
    margin: 0 1rem 1rem;
}
.breeding {
    margin: 0 2rem;
    font-size: 1.2rem;
    font-weight: bold;
}
.info {
    color: rgba(0, 0, 0, 0.7);
}
.second-table {
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.capitalize {
    text-transform: capitalize;
}
.poke-name {
    margin-bottom: .9rem;
}